extends ../layout

block content
  H1 Hello World Blog Post
    p = currentPost.title
    br
    p = currentPost.body 
    br
    p = currentPost.tags
    br
    p = currentPost.created
    br
    p = currentPost.author
      a(href='/posts/#{currentPost._id}/edit')
        button(type = 'Submit') Edit Post